<%= form_for @assignment do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :repo_url %><br>
    <%= f.text_area :repo_url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
