<script>
  $(document).ready(function(){
    <% if session[:token] %>
    $(".status input").change(function(){
      $.ajax({
        url: "<%= assignment_submissions_path(@assignment) %>/" + this.id,
        type: "post",
        dataType: "json",
        data: {
          _method: "put",
          id: this.id,
          checked: this.checked
        }
      }).always(function(response){
        console.dir(response);
      });
    });
    <% end %>
  });
</script>

<h1><%= @assignment.title %></h1>
<% if @assignment.repo_url != "" %>
<p><%= link_to "View on GitHub", @assignment.repo_url %></p>
<% end %>
<p>Type: <%= @assignment.assignment_type %></p>
<% if @assignment.due_date != "" %>
  <p>Due Date: <%= @assignment.due_date %></p>
<% end %>

<% if session[:token] %>
  <%= link_to "edit", edit_assignment_path(@assignment)%>
  <%= link_to 'delete', assignment_path(@assignment), method: :delete %></p>
<% end %> 

<% @submissions.sort_by{|s| s.student["name"]}.each do |submission| %>
  <div class='submission'>
    <!--<%= submission.inspect %>-->
    <h3><%= submission.student["name"] %></h3>
    <ul>
      <li><a target="_blank" href="<%= @assignment.repo_url %>/issues?q=author%3A<%= submission.student["github_username"] %>">GitHub Issues</a></li>
      <li><%= link_to "Submission Details", edit_assignment_submission_path(@assignment, submission) %></li>
      <li class="status">
        <%= check_box_tag submission.id, true, submission.status === "complete" %>
        <label for="<%= submission.id %>">Complete</label>
      </li>
    </ul>
  </div>
<% end %>

<!-- t.integer  "assignment_id"
t.integer  "github_id"
t.string   "html_url"
t.string   "repo_url"
t.string   "status" -->

