<script>
  $(document).ready(function(){
    <% if session[:token] %>
    $(".status input").change(function(){
      $.ajax({
        url: "<%= assignment_submissions_path(@assignment) %>/" + this.id,
        type: "post",
        dataType: "json",
        data: {
          _method: "put",
          id: this.id,
          checked: this.checked
        }
      }).always(function(response){
        console.dir(response);
      });
    });
    <% end %>
  });
</script>

<h1><%= @assignment.title %></h1>
<% if @assignment.repo_url != "" %>
<p><%= link_to "View on GitHub", @assignment.repo_url %></p>
<% end %>
<p>Type: <%= @assignment.assignment_type %></p>
<% if @assignment.due_date != "" %>
  <p>Due Date: <%= @assignment.due_date %></p>
<% end %>

<% if session[:token] %>
  <%= link_to "edit", edit_assignment_path(@assignment)%>
  <%= link_to 'delete', assignment_path(@assignment), method: :delete %></p>
<% end %>

  <table>
    <% @submissions.select{|s| s.student.class != Array }.sort_by{|s| s.student["squad"] }.each do |submission| %>
    <tr>
      <!--<%= submission.inspect %>-->
      <th><%= submission.student["name"] %></th>
      <td><a target="_blank" href="<%= @assignment.repo_url ? "#{@assignment.repo_url}/issues?q=#{submission.involves_squad}" : "#" %>"><%= submission.student["squad"] %></a></td>
      <td><a target="_blank" href="<%= @assignment.repo_url %>/issues?q=author%3A<%= submission.student["github_username"] %>">Issues</a></td>
      <td><%= link_to "Details", edit_assignment_submission_path(@assignment, submission) %></td>
      <td class="status">
        <%= check_box_tag submission.id, true, submission.status === "complete" %>
        <label for="<%= submission.id %>">Complete</label>
      </td>
    </tr>
  <% end %>
  </table>

<!-- t.integer  "assignment_id"
t.integer  "github_id"
t.string   "html_url"
t.string   "repo_url"
t.string   "status" -->
