<h1>
  <%= link_to_if @assignment.repo_url.present?, @assignment.title, @assignment.repo_url %>
  <span>(<%= "#{@assignment.summary_info.join(", ")})" %></span>
</h1>

<% if session[:token] %>
  <%= link_to "edit", edit_assignment_path(@assignment)%>
  <%= link_to 'delete', assignment_path(@assignment), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<h2>Submissions</h2>
<table>
  <%= render partial: @submissions, locals: {header: :student_name} %>
</table>
