<h1><%= @assignment.title %></h1>
<p><%= link_to "View on GitHub", @assignment.repo_url %></p>
<p>Type: <%= @assignment.assignment_type %></p>

<%= link_to "Create new submission", new_assignment_submission_path(@assignment) %>

<% @assignment.submissions.each do |submission| %>
  <div class='submission'>
    <h3><%= link_to submission.student["name"], edit_assignment_submission_path(@assignment, submission) %></h3>
    <% if submission.status %>
      <small><strong>Status:</strong> <%= submission.status %></small>
    <% end %>
  </div>
<% end %>

<!-- t.integer  "assignment_id"
t.integer  "github_id"
t.string   "html_url"
t.string   "repo_url"
t.string   "status" -->
