<h1><%= @assignment.title %></h1>
<p><%= link_to "View on GitHub", @assignment.repo_url %></p>
<p>Type: <%= @assignment.assignment_type %></p>

<%= link_to "Create new submission", new_assignment_submission_path(@assignment) %>

<% @assignment.submissions.each do |submission| %>
  <li>
    <%= link_to submission.student["name"], assignment_submission_path(@assignment, submission) %>
    <% if session[:token] %>
      <%= link_to "edit", edit_assignment_submission_path(@assignment, submission)%>
      <%= link_to 'Destroy', assignment_submission_path(@assignment, submission), method: :delete %></p>
    <% end %>
  </li>
<% end %>

<!-- t.integer  "assignment_id"
t.integer  "github_id"
t.string   "html_url"
t.string   "repo_url"
t.string   "status" -->
