<h1><%= @assignment.title %></h1>
<% if @assignment.repo_url != "" %>
<p><%= link_to "View on GitHub", @assignment.repo_url %></p>
<% end %>
<p>Type: <%= @assignment.assignment_type %></p>
<% if @assignment.due_date != "" %>
  <p>Due Date: <%= @assignment.due_date %></p>
<% end %>

<% if session[:token] %>
  <%= link_to "Create new submission", new_assignment_submission_path(@assignment) %>
  <%= link_to "edit", edit_assignment_path(@assignment)%>
  <%= link_to 'delete', assignment_path(@assignment), method: :delete %></p>
<% end %> 

<% @assignment.submissions.each do |submission| %>
  <div class='submission'>
    <h3><%= link_to submission.student["name"], edit_assignment_submission_path(@assignment, submission) %></h3>
      <small><strong>Status:</strong> <%= submission.status %></small>
      <%= form_for([@assignment, submission]) do |f| %>
	<p>
	  <label>
	    <%= f.radio_button :status, "complete"%>
	    Complete
	  </label>
	  <br>
	  <label>
	    <%= f.radio_button :status, "incomplete"%>
	    Incomplete
	  </label>
	</p>
	<p>
	  <%= f.submit %>
	</p>
      <% end %>
  </div>
<% end %>

<!-- t.integer  "assignment_id"
t.integer  "github_id"
t.string   "html_url"
t.string   "repo_url"
t.string   "status" -->
