<h1>
  <%= link_to_if @assignment.repo_url.present?, @assignment.title, @assignment.repo_url %>
  <span>(<%= @assignment.assignment_type %>)</span>
</h1>

<% if @assignment.due_date != "" %>
  <p>Due Date: <%= @assignment.due_date %></p>
<% end %>

<% if session[:token] %>
  <%= link_to "edit", edit_assignment_path(@assignment)%>
  <%= link_to 'delete', assignment_path(@assignment), method: :delete, data: {confirm: "Are you sure?"} %></p>
<% end %>

<table>
  <%= render partial: "assignments/submission", collection: @submissions %>
</table>
