<%= link_to "Preview", assignment_submission_path(@assignment, @submission) %>

<div autosave>
  <%= form_for([@assignment, @submission]) do |f|%>
    <h2>
      <%= @submission.student["name"] %>
    </h2>
    <p>
      <%= f.check_box :private, style: "display:none;"%>
      <%= f.label :private %>
    </p>
    <p>
      <%= f.text_field :html_url, placeholder: "HTML URL" %>
      <%= f.text_field :repo_url, placeholder: "Repo URL"%>
    </p>
    <p>
      <%= f.label :status %><br>
      <%= f.text_area :status %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
