<%= form_for([@assignment, @assignment.submissions.build]) do |f| %>
  <p>
    <%= f.label :github_id %><br>
    <%= f.select :github_id, @students.collect{|s| [ s["name"], s["github_user_id"]]}%>
  </p>
  <p>
    <%= f.label :html_url %><br>
    <%= f.text_area :html_url %>
  </p>
  <p>
    <%= f.label :repo_url %><br>
    <%= f.text_area :repo_url %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.text_area :status %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
