<!DOCTYPE html>
<html>
<head>
  <title>ApiAssignment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><a href="/">Assignments</a></h1>
  <% if session[:token] %>
    <%= link_to "Log out", '/logout' %>
  <% else %>
    <%= link_to "Log in with GitHub", '/auth/github' %>
  <% end %>
<%= yield %>

</body>
</html>
