<!DOCTYPE html>
<html>
<head>
  <title>Assignments</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <base target="_blank" />
</head>
<body>
  <header class='cf'>
    <nav>
      <ul>
        <li class="home">
          <a href="/"><i class="icon icon-home"></i></a>
        </li>
        <li class='login'>
          <% if session[:token] %>
            <%= link_to "Log out", '/logout' %>
          <% else %>
            <%= link_to "Log in with GitHub", '/auth/github' %>
          <% end %>
        </li>
      </ul>
    </nav>

  </header>
  <%= yield %>

</body>
</html>
